@media(max-width:1199px) {
  .h6-tag {
      width: 500px;
  }
  .banner-photo.border.text-center.shadow-sm {
      width: 512px;
      margin-left: 0;
  }
}

@media(max-width:1120px) {
  .about-photo img {
      margin-left: 20px;
  }
}

@media(max-width:991px) {
  .about-heading {
      height: 65vh;
  }
  .about-text {
      margin-top: -230px;
  }
  .h6-tag {
      width: 393px;
  }
  .banner-photo.border.text-center.shadow-sm {
      width: 554px;
      margin-left: 28px;
  }
  .about-photo img {
      max-width: 114%;
      margin-left: 70px;
  }
  .abo-ut {
      margin-bottom: 127px;
  }
  .number.text-center.bg-white.pb-4.pt-3 {
      margin-bottom: 32px;
  }
  .client-text {
      margin-left: 0;
  }
  .client-text1 {
      margin-left: 0;
  }
  .client-text2 {
      margin-left: 0;
      margin-top: 28px;
  }
  .client-text3 {
      margin-left: 0;
      margin-top: 28px;
  }
  .name-input {
      margin-bottom: 17px;
  }
}

@media(max-width:767px) {
  .about {
      padding-bottom: 50px;
  }
  .about-heading {
      height: 46vh;
  }
  .h6-tag {
      font-size: 18px;
      padding: 0 24px 0 0;
  }
  .about-text {
      margin-top: 50px;
      text-align: center;
  }
  .about-photo img {
      max-width: 100%;
      margin-left: 0;
  }
  .pa-dding {
      padding-left: 0;
  }
  .banner-text {
      text-align: center;
  }
  .about1 {
      margin-bottom: 127px;
  }
  .about2 {
      margin-bottom: 30px;
  }
  .banner-photo.border.text-center.shadow-sm {
      width: 504px;
      margin-left: 0;
      margin: auto;
  }
  .contact-address {
      text-align: center;
      margin-left: 0;
  }
}

@media(max-width:390px) {
  .banner-photo.border.text-center.shadow-sm {
      width: 357px;
      margin-left: 0;
  }
  .about-heading {
      height: 80vh;
  }
  .h6-tag {
      font-size: 18px;
      padding: 0 24px 0 24px;
  }
  .about-heading {
      height: 55vh;
  }
  .footer-text {
      font-size: 14px;
  }
}